<head>
    <title>欢迎使用期神交易软件</title>
 </head>
<link href="../../static/css/operator.css">
<link href="../../static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="../../static/js/operator.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- This is a veryt2 simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->
<body>
<div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">操盘手登陆专用界面</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" method="post" role="form" action="/client/login">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="用户名" name="user" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="密码" name="pwd" type="password" value="">
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> 记住用户
			    	    	</label>
			    	    </div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="登 陆">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>
</body>